section {
  font-display: bold;
  margin-left: 200px;
  width: 50%;
}

section.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

p {
  text-align: center;
  color: black;
  font-weight: bolder;
}

body {
  min-height: 100%;
  line-height: 1;
  background-color: grey;
  font-family: sans-serif;
  align-content: center;
}

h1 {
  text-align: center;
  background-color: red;
  border-style: groove;
  border-color: black;
  border-radius: 60%;
}

h2 {
  text-align: center;
  line-height: 2px;
}

ul {
  font-size: x-large;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 53%;
}
  

form {
  display: block;
  flex-direction: column;
  align-items: center;
  box-shadow: 6px 10px 7px 10px red;
  background-color: red;
  box-shadow: 6px 10px 7px 10px black;
}

div {
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 4px 8px 3px 9px red;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  background-color: red;
  border-style: groove;
  border-color: black;
  border-width: 7px;
  box-shadow:6px 10px 7px 10px black; 
}

img {
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 6px 10px 7px 5px black;
  border-style: groove;
  border-color: black;
  border-radius: 50%;
  border-width: 7px;
}


footer {
  box-shadow: 6px 10px 7px 10px black;
  align-content: center;
}

:hover {
  background-color: skyblue;
  cursor: grab;
}

@media screen and {
  (max-width:922px)align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and {
  (max-width:768px)align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

